.selected{
  background-color: rgb(236, 236, 236);
  border: 1px solid black;
  border-radius: 4px;
}
.list-container{
  border: 1px solid;
  margin-left: 10px;
  width: 15%;
  padding: 10px;
  border-radius: 4px;
}
.inputBox{
  padding: 10px 10px;
  margin: 10px;
  border-radius: 4px;
}
.listItem {
  padding: 6px;
}